[2018-07-04 05:55] Abdur-rahmaanJ opened #2 "add calculation plugin"

[2018-07-04 05:56] Abdur-rahmaanJ opened #3 "add pm when user online plugin"

[2018-07-04 05:56] Abdur-rahmaanJ opened #4 "add weather plugin"

[2018-07-04 05:57] Abdur-rahmaanJ opened #5 "add mail plugin"

[2018-07-04 05:58] Abdur-rahmaanJ opened #6 "add sololearn user info plugin"
generate user info via id via json

[2018-07-09 07:19] Abdur-rahmaanJ commented on #2
maths op plugin added

[2018-07-09 07:19] #2 closed

[2018-07-10 07:37] Abdur-rahmaanJ opened #7 "Config via external file"
**Is your feature request related to a problem? Please describe.**
security and parameters defined via main.py

**Describe the solution you'd like**
an external file callable via configparser

**Describe alternatives you've considered**
None

**Additional context**
None

[2018-07-10 07:39] Abdur-rahmaanJ opened #8 "Beautify console messages in form"
**Is your feature request related to a problem? Please describe.**
logging is a mess

**Describe the solution you'd like**
beautify console messages - (not colours but in forms) - see pull method in bot

[2018-07-23 17:31] Abdur-rahmaanJ opened #9 "add tests"
**Is your feature request related to a problem? Please describe.**
tests needed

[2018-10-05 19:08] Abdur-rahmaanJ opened #10 "add dev tutorials"
vids or text

[2018-10-05 19:11] Abdur-rahmaanJ opened #11 "prevent connection from dying"
detect disconnections and retry

[2019-02-19 08:45] Abdur-rahmaanJ opened #13 "add more code comments"

[2019-02-19 08:46] Abdur-rahmaanJ opened #14 "add plugin dev documentation"

[2019-02-26 16:53] dpanek26 commented on #14
Hello! I would very much be interested in tackling this.

[2019-02-27 07:02] Abdur-rahmaanJ commented on #14
see how plugins are made, each plugin has the same structure. write a mini tutorial. see the test file to see what each method returns

[2019-02-27 07:02] Abdur-rahmaanJ commented on #9
partially completed

[2019-03-04 18:44] Abdur-rahmaanJ opened #15 "add doctring to methods"

[2019-03-04 18:45] Abdur-rahmaanJ opened #16 "add setup.py"

[2019-03-04 18:47] Abdur-rahmaanJ opened #17 "add more usernames to username plugin"

[2019-03-04 18:47] Abdur-rahmaanJ opened #18 "add more jokes to joke plugin"

[2019-03-04 20:47] colbyjayallen commented on #18
I have submitted a pull request to add more jokes to the plugin.

[2019-03-04 20:59] sseryani commented on #17
I will do this

[2019-03-04 21:22] colbyjayallen commented on #4
I would like to try my hand at implementing this.

[2019-03-05 02:54] Abdur-rahmaanJ commented on #4
ok, wunderground might be a help

[2019-03-05 02:58] Abdur-rahmaanJ commented on #18
any other first-timers who want to add more jokes, feel free!

[2019-03-05 02:59] Abdur-rahmaanJ commented on #17
any other first-timers who want to add more, feel free!

[2019-03-05 03:09] Abdur-rahmaanJ opened #21 "add a hangman / guess the word plugin"
no need to draw the man but update user of right or wrong guess and chances remaining

[2019-03-05 03:11] Abdur-rahmaanJ opened #22 "add a bitcoin price check plugin"

[2019-03-05 03:12] #18 closed

[2019-03-05 03:13] #17 closed

[2019-03-05 03:15] Abdur-rahmaanJ opened #23 "add a quotes plugin"

[2019-03-05 22:01] hugolesta commented on #16
Hello Abdur,

I made a new setup.py for honeybot.

Could you please tell me how can I show you my code? I can't create a new branch in your project.

Thank you!

[2019-03-06 02:53] German-Corpaz commented on #23
Hi, can i take this?

[2019-03-06 03:03] Abdur-rahmaanJ commented on #16
just click create new file on honeybot project (my project), then click propose new file. complete for pull request. that's easier for a begining than forking, branching and PR

[2019-03-06 03:56] Abdur-rahmaanJ commented on #23
yes! top hint: check the jokes plugin

[2019-03-06 04:00] Abdur-rahmaanJ opened #25 "add logs plugin"
a plugin to write all messages to a text file

[2019-03-06 04:02] Abdur-rahmaanJ opened #26 "add monopoly game plugin"
not difficult but some works needed

[2019-03-06 04:04] Abdur-rahmaanJ opened #27 "add google search plugin"
requires some thinking. top tip: see if you can find such functionality in other bots!

[2019-03-06 04:33] Abdur-rahmaanJ commented on #14
@dpanek26  added in README due to increasing contributors. excuses.

[2019-03-06 04:33] #14 closed

[2019-03-06 04:39] Abdur-rahmaanJ commented on #23
you are from germany?

[2019-03-06 04:41] #23 closed

[2019-03-06 04:45] Abdur-rahmaanJ opened #29 "add password generator plugin"

[2019-03-06 12:52] German-Corpaz commented on #23
Im from Argentina. German is my name

[2019-03-07 02:41] Abdur-rahmaanJ opened #30 "add wikipaedia plugin that returns a random article"

[2019-03-07 02:42] Abdur-rahmaanJ opened #31 "add a word definition / dictionary plugin"

[2019-03-07 02:46] Abdur-rahmaanJ opened #32 "add plugin tutorial in tutorial.md"
from idea to finish

[2019-03-07 18:29] Abdur-rahmaanJ opened #34 "add automatic plugins docs that generates plugins_info.md"
all plugins have a docstring at the begining describing the author, plugin and commands. pass over the files, extract these doctrings and join them all in a single file to have a one page info on plugins

[2019-03-08 08:09] ajimenezUCLA opened #36 "Better display of how the bot works in an IRC chat and set up for in IRC testing"
**Is your feature request related to a problem? Please describe.**
I think the readme would benefit from a detailed explanation on how to set up the chatbot in an IRC.
Along with commands and examples of responses and inputs

**Describe the solution you'd like**
Perhaps add it to the wiki

**Describe alternatives you've considered**
Either adding a separate markdown file explaining the software
Ma

[2019-03-09 08:13] iamnishant14 commented on #31
@Abdur-rahmaanJ : Picking this up

[2019-03-10 05:09] Abdur-rahmaanJ commented on #31
you can use an external package or dictionary.com or as you deem fit 👍

[2019-03-10 13:39] Abdur-rahmaanJ opened #38 "how to cope with external dependencies in plugins?"
for example the dictionary plugin uses an external lib. how do we cope with that scenario? we put all in requirements.txt but then, you don't need it to run the bot. discuss.

[2019-03-10 13:45] Abdur-rahmaanJ commented on #31
solved by PR #37

[2019-03-10 13:45] #31 closed

[2019-03-10 21:01] iamnishant14 commented on #29
I'm picking this up

[2019-03-11 02:51] Abdur-rahmaanJ commented on #29
ok

[2019-03-11 21:23] Macr0Nerd commented on #34
How do you want it formatted? Do you just want all of the mods from main.py to be put into a markdown file, a file made when you run a command, or a markdown file premade with all of the doctrings?

[2019-03-12 01:11] Abdur-rahmaanJ commented on #34
add a script that pass over each plugin file and write like

Joke
by x, site.com

Joke is blablabla

it has the following commands:
...

[2019-03-12 03:28] iamnishant14 commented on #29
Pushed the PR. Review and close the issue, if all good.

[2019-03-12 03:30] iamnishant14 commented on #27
what should the google search return?
Is it supposed to return the URL or the content of them.

[2019-03-12 03:36] Abdur-rahmaanJ commented on #29
ok closing, just view comments.

[2019-03-12 03:47] Abdur-rahmaanJ commented on #27
content. find a way not to use API key or just switch to another search engine.

but returning a bunch of links also seems useful. you decide!

[2019-03-12 03:50] Abdur-rahmaanJ opened #41 "easy to remeber but secrue password - modify password gen plugin"
like  i-lov3@swimming4lif3
find replacement for normal english letters

[2019-03-12 04:03] iamnishant14 commented on #27
Okay. Picking this up.

[2019-03-12 04:13] Abdur-rahmaanJ opened #43 "plugin greet everyone who joins the channel"
beware just don't greet everyone who just sends messages. needs to detect joining event

[2019-03-13 03:13] Macr0Nerd commented on #22
Almost done just need to make a pull request @Abdur-rahmaanJ

[2019-03-13 03:49] Abdur-rahmaanJ commented on #41
no, just add another command to the password plugin

[2019-03-13 03:52] Abdur-rahmaanJ commented on #34
just a simple script suffices. convert the plugin to a script and add it one folder above @Macr0Nerd

[2019-03-13 03:54] Abdur-rahmaanJ commented on #22
closing. solved by #45

[2019-03-13 03:54] #22 closed

[2019-03-13 04:22] msarfrazanwar commented on #41
I need more clarification on the requirements as I am not getting the exact point. Give some more examples if possible with user input and password generation.

[2019-03-13 04:32] Abdur-rahmaanJ opened #46 "add translation plugin"

[2019-03-13 04:50] Abdur-rahmaanJ commented on #41
@msarfrazanwar just add another command here [https://github.com/Abdur-rahmaanJ/honeybot/blob/master/honeybot/plugins/password_generator.py](https://github.com/Abdur-rahmaanJ/honeybot/blob/master/honeybot/plugins/password_generator.py)

[2019-03-13 04:57] msarfrazanwar commented on #41
I know. What kind of passwords to be generated can you give some examples ?? We are not working on ML or something that I generate sentences like I love swimming for life.

[2019-03-13 05:17] Abdur-rahmaanJ commented on #41
@msarfrazanwar see username plugin. something like

[code]

[2019-03-13 05:19] msarfrazanwar commented on #41
Yes that is what I was asking about. Thanks. I will try my best.

[2019-03-13 05:25] Abdur-rahmaanJ commented on #41
👍

[2019-03-13 12:06] Macr0Nerd commented on #34
@Abdur-rahmaanJ the script is currently just that. I'm working on putting it one directory above because for some reason it doesn't want to import everything but it should be done by tonight.

[2019-03-13 13:22] Macr0Nerd commented on #30
almost done with this just reviewing the documentation to properly send it

[2019-03-13 20:40] Macr0Nerd commented on #34
@Abdur-rahmaanJ i think we should close this issue

[2019-03-13 20:45] Macr0Nerd commented on #4
will write this

[2019-03-14 01:11] Abdur-rahmaanJ commented on #34
done

[2019-03-14 01:11] #34 closed

[2019-03-14 01:12] Abdur-rahmaanJ commented on #30
@Macr0Nerd btw see the discussion issue on external dependency management

[2019-03-14 01:12] #30 closed

[2019-03-14 02:14] Macr0Nerd commented on #38
It seems that the easiest way would be to write a [setup](https://docs.python.org/3/distutils/setupscript.html) script. It would make this a bit easier. Seems like the only real viable option. @Abdur-rahmaanJ

[2019-03-14 06:34] #10 closed

[2019-03-14 06:35] Abdur-rahmaanJ opened #50 "add search feature to wkipedia plugin"

[2019-03-14 06:39] Abdur-rahmaanJ opened #51 "[strict-first-timers | afraid of git] update readme to include newly-created plugins"

[2019-03-14 06:43] Abdur-rahmaanJ commented on #38
@Macr0Nerd we can add a requirements.txt i mean the bot does not need it, only plugins, maybe a configuration script. we can also add a depemdency section in file docstring. let us see what other plugin contributers like @kylegalloway @iamnishant14 @ajimenezUCLA @sseryani @German-Corpaz @colbyjayallen

[2019-03-14 06:46] Abdur-rahmaanJ opened #52 "enhance pluginsInfo script to create a richer markdown doc"
enhance https://github.com/Abdur-rahmaanJ/honeybot/blob/master/honeybot/pluginInfo.py

[2019-03-14 13:07] Macr0Nerd commented on #52
Can you give an example of how you want it to be formatted @Abdur-rahmaanJ? This is pretty easy fix all things considered.

[2019-03-14 19:01] Abdur-rahmaanJ commented on #52
like add # and remove unknown website where none, where there is, put
netween []()

and things like that.

[2019-03-14 20:17] Macr0Nerd commented on #52
I’ll get on that in a bit

[2019-03-15 00:02] Macr0Nerd commented on #52
@Abdur-rahmaanJ I can't make a pull request for this as it's including the wikipedia search function

[2019-03-15 03:11] Abdur-rahmaanJ commented on #52
np PR

[2019-03-15 07:21] #4 closed

[2019-03-15 09:05] msarfrazanwar commented on #41
Will there be any input to the function like number of words or anything like that?

[2019-03-15 09:25] Abdur-rahmaanJ commented on #41
no, you devise something reasonable

[2019-03-15 12:17] Macr0Nerd commented on #41
But in using a set list of verbs and such, it becomes that much easier to break the security of the plugin. I propose both easy and secure password options. Such as one that generates the example above, but also one that puts together a random string of characters.

[2019-03-15 12:41] msarfrazanwar commented on #41
@Abdur-rahmaanJ @Macr0Nerd  Currently my generating passwords like this :
-her silly screwdriver might be beyond her blurry
-the only typical computer program will enjoy towards the only saturated t-shirt
-our helpless project is thinking unlike every strange beach
I can the length and add special characters for security. What do you guys think ?

[2019-03-15 13:47] Macr0Nerd commented on #41
@msarfrazanwar That seems like a smart approach. I'd say just replace some of the letters with characters akin to 1337 Speak, so you get stuff like H3r$1lly$cr3wd1v3rM1ghtB3B3y0ndH3rBlurry. I was proposing a Random Password Generator such as:
    import random

    char = ['A', 'b', '@', '9'] #so on with all the upper and lower case characters, numbers, and special chars

    pass = ''
    for i i

[2019-03-15 13:53] Abdur-rahmaanJ commented on #41
random words only not great for sec, yes add special chars in place of
letters.

[2019-03-18 01:45] Macr0Nerd commented on #50
this has been solved

[2019-03-18 01:47] Macr0Nerd commented on #52
also been solved

[2019-03-18 02:49] #52 closed

[2019-03-18 02:50] #50 closed

[2019-03-19 01:46] Macr0Nerd opened #56 "Plugins not executing in IRC"
**Describe the bug**
Testing the bot on my personal IRC channel, I discovered that the bot would not detect plugins and typing things such as `.test` and `.greet` would return nothing despite appearing in the python terminal. Was testing for Issue #36.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and set up bot (username: `hb_mn00`)
2. Change autoconnect channels
3. Run `main.py`

[2019-03-19 02:41] Abdur-rahmaanJ commented on #56
testing in some 45 mins ...

[2019-03-19 03:09] Macr0Nerd commented on #56
Currently debugging @Abdur-rahmaanJ. My idea for importing didn't seem to work and I'm currently going through line by line. May not be able to continue until tomorrow, though.

[2019-03-19 12:19] Abdur-rahmaanJ commented on #56
some work, not all, will continue tests

[2019-03-19 14:02] msarfrazanwar commented on #41
Hey, I have developed the generator. I am writing down the type of passwords it generating. What do you guys think about this?
-h3r b1urry $@x0ph0n3
-h1$ gr@y pr0j3ct
-h1$ br@v3 t-$h1rt
-th@t $@tur@t3d h@rd dr1v3
-on3 un1qu3 c@rp3t

[2019-03-19 18:24] Abdur-rahmaanJ commented on #41
seems great!

[2019-03-19 18:45] Abdur-rahmaanJ opened #57 "How to test plugins commands"
thinking of another script sending a message to irc and sees if message from bot corresponds to expected message. feel free to discuss

[2019-03-20 00:47] Macr0Nerd commented on #41
Do we want the white space? That’s the only qualm I have with it, otherwise it looks awesome

[2019-03-20 01:01] Macr0Nerd commented on #56
![image](https://user-images.githubusercontent.com/16966836/54651609-a4585600-4a81-11e9-98c1-f5e3988f9aec.png)
@Abdur-rahmaanJ I'm not getting anything at all. What external dependencies might I need for `main.py`? It could be that

[2019-03-20 02:09] Macr0Nerd commented on #56
@Abdur-rahmaanJ so after some long debugging, I've discovered my main problem is that I wasn't setting plugins with to_load. I'm now encountering the error that it is missing `info`.

![image](https://user-images.githubusercontent.com/16966836/54654002-b8548580-4a8a-11e9-8252-e90bc5ea41ff.png)

    def load_plugins(self, list_to_add):
        print("\033[0;36mLoading plugins...\033[0;0m")

[2019-03-20 02:47] Macr0Nerd commented on #56
@Abdur-rahmaanJ so far it's almost worked. It is just missing the `info` argument. Otherwise, I fixed

[2019-03-20 02:48] Macr0Nerd commented on #56
Accidentally clicked the wrong button sorry.

[2019-03-20 04:22] Abdur-rahmaanJ commented on #41
yes without spaces better

[2019-03-22 01:09] Macr0Nerd commented on #56
@Abdur-rahmaanJ So I'm getting this error with certain plugins. It is telling me

     error quote plugin 'Bot_core' object has no attribute 'quote'

It does this with a lot of the plugins. I haven't tested them all, but so far only greet and bitcoin work.

[2019-03-22 02:53] a-deeb commented on #46
Hi @Abdur-rahmaanJ  ,I would like to help out , in which file do i add the translation plugin?
Also should i refer to to [https://pypi.org/project/googletrans/](https://pypi.org/project/googletrans/) to implement the code

[2019-03-25 02:59] Abdur-rahmaanJ commented on #46
@a-deeb thanks!

[2019-03-25 02:59] #46 closed

[2019-03-26 00:27] Macr0Nerd commented on #56
@Abdur-rahmaanJ so I found what seems like a fix to the issue I described in my previous comment. When we use `self.func()` in a Plugin class, it treats `self` as `Bot_core`, not `Plugin`. I fixed this for some of the plugins with `Plugins.func(self)`. It is far from clean, but it works as far as I can tell, and isn't code breaking. I'm going to do some further testing and fix some stuff like the

[2019-03-26 01:20] #56 closed

[2019-03-26 01:21] Macr0Nerd commented on #57
That seems like the easiest way, but the only trouble would be figuring out two IRC bots. Otherwise, this looks the most viable way.

[2019-03-26 14:32] Macr0Nerd commented on #29
@iamnishant14 @Abdur-rahmaanJ I did some testing, and it did not seem like the password generation plugin worked in IRC.

[2019-03-27 19:43] TannerFry commented on #5
Abdur-Rahmaan, I emailed you recently about this issue and would like to be assigned this issue to be worked on if possible! I just need more detail about the functionality of the plugin you need.

[2019-03-27 22:33] justinwalker4179 commented on #51
I submitted a pull request for this issue. I am very new to open source. This is only my second PR ever and the first was just a comment. Thank for having issues like this so newbies like me can get used to the process!

[2019-03-28 04:39] Abdur-rahmaanJ commented on #5
ok!

[2019-03-28 04:41] Abdur-rahmaanJ opened #61 "public chat thread - honeybot forum"

[2019-03-28 04:43] Abdur-rahmaanJ commented on #36
add kiwiirc setup instructions in readme

[2019-03-28 06:46] justinwalker4179 commented on #21
I'd love to try and make this plugin. Currently I'm trying to run main.py and getting a bunch of weird syntax errors that are making me think I'm missing something. This is the first one, but there are so many of this same kind of error, I must be not catching something.

On line 144:
[code]
SyntaxError: invalid syntax

[2019-03-28 07:10] Abdur-rahmaanJ commented on #21
@justinwalker4179 that uses 3.7 just comment them out

[2019-03-28 12:59] Macr0Nerd commented on #21
@justinwalker4179 @Abdur-rahmaanJ that was my bad. I left those in for easy debugging and seeing what was being run, if at all.

[2019-03-28 18:03] tomcb1 commented on #25
Gonna work on this one

[2019-03-31 10:52] justinwalker4179 commented on #21
Having one more issue after commenting out the other lines.
[code]

[2019-03-31 16:20] Macr0Nerd commented on #61
@Abdur-rahmaanJ not sure if you saw my email, but what is your opinion of a GUI for HoneyBot?

[2019-03-31 16:40] #51 closed

[2019-03-31 16:40] #29 closed

[2019-03-31 16:42] Macr0Nerd commented on #41
@msarfrazanwar @Abdur-rahmaanJ I mentioned the wrong issue in PR #59. After some testing, this plugin did not seem to work.

[2019-03-31 19:46] Abdur-rahmaanJ commented on #61
See workshop, there is a py-based one

[2019-03-31 19:59] Abdur-rahmaanJ commented on #41
@msarfrazanwar PR

[2019-03-31 20:00] Abdur-rahmaanJ commented on #51
@justinwalker4179 glad you liked it!

[2019-03-31 20:15] TannerFry commented on #5
I have the email plugin implemented, just need to update the documentation for the plugin then a pull request will be submitted.

[2019-03-31 20:33] Alecg956 commented on #43
I am looking to make an open source contribution for a graded class.  Do you think that some of the beginner issues listen in this repository would be reasonable to do in around two weeks?  I am open to chatting via another medium if you would be willing to discuss further.

[2019-03-31 20:37] Abdur-rahmaanJ commented on #43
@Alecg956 actually fell free, ask any questions, you can do any interesting task you find!

[2019-03-31 20:39] Abdur-rahmaanJ commented on #21
@justinwalker4179 you need python 3.7

[2019-03-31 20:39] Abdur-rahmaanJ commented on #21
also do you have a config file?

[2019-04-01 09:22] justinwalker4179 commented on #21
Have correct python version, CONNECT. conf has
[code]

[2019-04-01 14:03] Alecg956 commented on #43
Hi Abdur, do you have an estimation on how long this task would take?  We are looking to take on a semi-complex task that will take around a week to complete?  There is not much information in this issue report.

[2019-04-01 18:04] TannerFry commented on #5
The pull request for this feature has been submitted, and this issue is ready to be closed if approved.

[2019-04-01 18:47] Abdur-rahmaanJ commented on #43
@Alecg956 actually you have to detect when does someone joins the channel. Retrieve his name and tell: Hi <name>. Yes one week tooo much!

[2019-04-01 19:02] Abdur-rahmaanJ commented on #21
@justinwalker4179 try now after tanfry's PR

[2019-04-01 19:53] justinwalker4179 commented on #21
Tried again with updated version with same error. Do I need to fill in info other than the default for config?

[2019-04-01 20:08] TannerFry commented on #21
wait for your config file, do you have this:

[INFO]

server_url = chat.freenode.net
port = 6667
name = hb_tst00

I noticed above, you were missing the [info] part?

[2019-04-01 21:08] justinwalker4179 commented on #21
Alright, python issued solved. I have python 3.7, and uninstalled all other version a while back, but my ide defaulted to an older version that wasn't supposed to exist for some reason. Ran main, everything seemed to be running normally.  It received a ping from freenode.net, paused and then ran an infinite loop saying
[code]
I commented out those print messages that were causing problems just in

[2019-04-02 12:01] Macr0Nerd commented on #21
This is an issue we’re working on solving. For some reason the program doesn’t properly `pong` back and it’s been like that for a bit.

[2019-04-02 12:21] msarfrazanwar commented on #41
@Macr0Nerd I have the body of function which will return the secure password can you with where it will be called in that file?

[2019-04-03 02:29] Macr0Nerd commented on #41
@msarfrazanwar looks like it should work. I'll do some testing within the next day and just make sure

[2019-04-03 04:05] Abdur-rahmaanJ opened #66 "ping timeout"
**Describe the bug**
Bots does not respond to pong

**To Reproduce**
Steps to reproduce the behavior:
let the bot run for a while

**Expected behavior**
since we specifically check for pong, this should not happen

[2019-04-03 04:06] Abdur-rahmaanJ commented on #5
@TannerFry closing

[2019-04-03 04:06] #5 closed

[2019-04-03 04:08] Abdur-rahmaanJ opened #67 "add logging to file to bot"
write whatever message the bot outputs to files in a log folder. name the file as <date-time>.txt . use the logging module if possible

[2019-04-03 04:09] Abdur-rahmaanJ commented on #43
@Alecg956 check issue #67

[2019-04-03 04:09] Abdur-rahmaanJ commented on #43
you might be interested

[2019-04-03 07:08] akshat00 commented on #43
Is this open for anyone to do or has someone been assigned

[2019-04-03 07:42] Abdur-rahmaanJ commented on #43
try it!

[2019-04-03 10:10] msarfrazanwar commented on #41
@Macr0Nerd Is there any medium where we can communicate in real time ?. I need to discuss a small thing.

[2019-04-03 11:37] Macr0Nerd commented on #41
@msarfrazanwar I’m now in the discord. It should help to streamline things.

[2019-04-03 20:42] #66 closed

[2019-04-03 20:42] #11 closed

[2019-04-03 22:18] #7 closed

[2019-04-03 23:14] door-bell commented on #67
Hey Abdur, I'm looking to make my first open source contribution! Could I work on this issue? I have experience in python and feel like I could take this one on.

[2019-04-04 02:07] justinwalker4179 commented on #21
What's the best way to test out a plugin since I can't get it running?

[2019-04-04 02:33] Macr0Nerd commented on #21
No real clue for that one. I’d say move the main code to another file separate from the Plugin class and test it there.

[2019-04-04 02:34] Macr0Nerd commented on #67
Hi Tim! Feel free to choose any issue that looks interesting! Just make sure you follow the contribution guidelines stated in the readme and by GitHub!

[2019-04-04 02:45] justinwalker4179 commented on #21
Already wrote the game separately, but I need tpo know what kind of inputs I'll be getting. For example will the user type
[code]
If you could give me examples I could finish it up.

[2019-04-04 03:12] Macr0Nerd commented on #21
Look at the other plugins. The user will send something like

.hangman guess a
.hangman restart

[2019-04-04 04:14] Abdur-rahmaanJ commented on #67
@door-bell basically create a logs folder (check if exists if not create) and where we print to cli, wrtie to file also. see the logging module if possible!

[2019-04-04 06:26] Abdur-rahmaanJ opened #73 "add date plugin"
.date today

returns

date-month-year

[2019-04-04 06:28] Abdur-rahmaanJ opened #74 "add fact plugin"
.fact

returns fact

[2019-04-04 06:28] Abdur-rahmaanJ commented on #74
similar to jokes plugin

[2019-04-04 06:30] Abdur-rahmaanJ opened #75 "add age plugin"
.age <birthday>

where birthday -> day-month-year

returns age

e.g. 20 years 5 months 1 day

[2019-04-04 06:40] msarfrazanwar commented on #41
@Macr0Nerd Can you provide me a link or something to join you there?

[2019-04-04 08:05] Abdur-rahmaanJ commented on #41
see bottom of readme ^^_

[2019-04-04 14:45] Macr0Nerd opened #77 "Honey GUI Base"
**Is your feature request related to a problem? Please describe.**
Begin building the roots of the Honey GUI in either C++ or Python.

**Describe the solution you'd like**
We need the basic window as to start and stop the bot.

**Additional context**
Big part for the future of the bot.

[2019-04-04 21:13] Abdur-rahmaanJ opened #78 "add send message to people in another channel plugin"

[2019-04-05 21:09] justinwalker4179 commented on #75
So it would be
[code]

[2019-04-05 21:14] justinwalker4179 commented on #21
This can now be closed

[2019-04-06 11:03] Abdur-rahmaanJ commented on #67
@door-bell issue already taken. try another or join us on discord

[2019-04-06 12:30] #74 closed

[2019-04-06 15:41] door-bell commented on #67
Okay, I'll look for another issue!

[2019-04-07 05:49] justinwalker4179 commented on #75
This can be closed.

[2019-04-07 07:03] #25 closed

[2019-04-07 07:03] #67 closed

[2019-04-07 07:08] #75 closed

[2019-04-07 07:09] RiceAbove commented on #73
I'll try working on this unless someone else is working on it

[2019-04-07 18:14] bristoll commented on #73
Is this issue still open? I'd want to try to fix it

[2019-04-07 18:52] Abdur-rahmaanJ commented on #73
@bristoll for some reason it does not work, the age plugin. try to test it. you know irc?

[2019-04-07 19:00] bristoll commented on #73
@Abdur-rahmaanJ  To be honest I'm not very familiar with IRC but if you let me try I'm very interested. I've took a look at the plugin and it's quite simple, so I think I can do a good job with it. Do you have any document about how to PR a fixed issue just in case I found a solution?

[2019-04-07 19:20] Macr0Nerd opened #85 "Honey GUI Plugins"
**Is your feature request related to a problem? Please describe.**
Add in the plugin select for HoneyGUI.

**Describe the solution you'd like**
Add in the plugin option and a select for it. Automatically update the `PLUGINS.conf`.

**Additional context**
A major feature of the Honey GUI.

[2019-04-07 20:10] Abdur-rahmaanJ commented on #73
@bristoll sorry this issue is open. try to do it. the readme has it all ^^_ find and irc client.

[2019-04-07 20:11] bristoll commented on #73
Ok, I'll try, thanks

[2019-04-07 22:55] RiceAbove commented on #13
Should we add more comments on all of the plugins that need more clarification?

[2019-04-08 00:54] RiceAbove commented on #43
I'll try working on this

[2019-04-08 01:41] RiceAbove commented on #43
Finished the plugin. Just need approval to merge

[2019-04-08 03:19] Abdur-rahmaanJ commented on #43
XD that you can merge. now seeing.

[2019-04-08 03:19] #43 closed

[2019-04-08 06:34] #27 closed

[2019-04-08 06:35] Abdur-rahmaanJ opened #88 "update readme to add new plugins in the list"
like google search by justin walker etc ...

[2019-04-08 14:28] #21 closed

[2019-04-08 14:29] Macr0Nerd commented on #41
@Abdur-rahmaanJ @msarfrazanwar what's the status of the issue?

[2019-04-08 23:19] justinwalker4179 commented on #78
Claiming this one.

[2019-04-09 12:48] msarfrazanwar commented on #41
@Macr0Nerd I password generator function is all ready and working but I am not able to understand how to integrate in that python file with other commands.

[2019-04-10 22:54] #73 closed

[2019-04-13 09:49] AngeloGiacco commented on #88
see PR #102

[2019-04-14 17:29] #77 closed

[2019-04-14 17:31] Macr0Nerd opened #108 "HoneyGUI Status Page"
**Is your feature request related to a problem? Please describe.**
Make a nicer status page for HoneyGUI as well as fix the TODOs

**Describe the solution you'd like**
Fix the TODOs and show if its running or not.

**Additional context**
A major feature of the Honey GUI.

[2019-04-14 17:33] Macr0Nerd opened #109 "HoneyGUI Config Editor"
**Is your feature request related to a problem? Please describe.**
Add a config editor for the HoneyGUI

**Describe the solution you'd like**
Either multiple text fields or just a text editor window

**Additional context**
Major feature of HoneyGUI.

[2019-04-15 04:21] vetragor commented on #41
how to join the project

[2019-04-15 10:06] 0x15F9 opened #110 "Command to Display all available functionalities"
add a command to display all the functionalities of the bot.
eg: .help should list the commands followed by a brief description

[2019-04-15 10:36] Abdur-rahmaanJ commented on #110
or the link to a page

[2019-04-15 10:38] AngeloGiacco opened #111 "weather plugin crazy output"
**Describe the bug**
The weather plugin gives crazy answers. For example in Budapest where it is currently 60 farenheit it gave 141 farenheit.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up honeybot
2. Enter '.weather budapest HU'
3. See response from bot

**Expected behavior**
Obviously expecting exactly 60 farenheit would be wrong but 141 farenheit is crazy.

**Screenshots**
If app

[2019-04-15 14:33] AngeloGiacco commented on #111
The issue is that the openweathermap API does not work in farenheit as this code assumes but rather in Kelvins. When you look at what the API is producing this becomes clear:

![Screenshot 2019-04-15 at 15 28 53](https://user-images.githubusercontent.com/29235343/56140678-44c36c80-5f93-11e9-842d-4096ad927b52.png)

This is the data that is being fetched currently when ".weather budapest HU" is ente

[2019-04-15 14:58] #111 closed

[2019-04-15 15:35] RiceAbove commented on #110
I’m actually working on this right now. Will get it done soon 👍🏼

[2019-04-15 15:36] Abdur-rahmaanJ commented on #110
@RiceAbove leave it for first timers ^^_

[2019-04-15 15:36] RiceAbove commented on #110
👍🏼

[2019-04-15 23:16] edumello commented on #110
Can I work on this?

[2019-04-16 01:07] Abdur-rahmaanJ commented on #110
@edumello yes

[2019-04-16 01:45] edumello commented on #110
Since actually there is no way to automatically get a brief description of all plugins installed, I've thought in two options:

-  Hard code all commands on a plugin Help

- Add variables "plugin_name", "description", "commands" on all Plugins (maybe a superclass?) and read it from a plugin Help

Which option should I follow?

[2019-04-16 02:06] Abdur-rahmaanJ commented on #110
@edumello there is, we have a script to generate plugins info . md, enhance it to show commands as well and ... on .help show the github link of that file

[2019-04-16 02:29] Abdur-rahmaanJ opened #115 "Add join command for bot"
[code]

check if sender in owners

[2019-04-16 02:31] Abdur-rahmaanJ opened #116 "Add kick command"
if bot admin,

[code]

[2019-04-16 03:31] edumello commented on #110
I've opened a PR #117

[2019-04-16 23:56] marceloyb commented on #115
can i take this?

[2019-04-17 01:18] Abdur-rahmaanJ commented on #115
yes!

[2019-04-17 10:43] AngeloGiacco commented on #116
I am using this code currently in a russian roulette plugin i am developing.

![Screenshot 2019-04-17 at 11 41 02](https://user-images.githubusercontent.com/29235343/56281955-d4892800-6105-11e9-801e-399b7a4bd94f.png)

 It will let me kick the bot out if i am an admin, but it will not let the bot kick me even if the bot is the admin. Any ideas?

I can easily make a seperate kill plugin after this o

[2019-04-17 10:49] GlennToms commented on #116
Is it giving any error messages?  Check the bot user is admin in the channel and not just server rights.

_Also create a Thanos/Snap plugin that kicks half the server.  HAHAHAHA_

[2019-04-17 11:31] AngeloGiacco commented on #116
HAHAHA.

No error messages.

[2019-04-17 14:28] #115 closed

[2019-04-17 16:00] 0x15F9 commented on #110
Maybe a .md file would help here. Use the file to store information about each functions (the name, command, description, author)

[2019-04-17 16:16] GlennToms commented on #110
I think we should go with a Abstract Class (SuperClass) with Name, Description, Run, Alias and a Alternate Language.  We can easily do a Plugins_V2 folder and slowly migrate the code over.   This will allow the bot to query the plugins that are enabled and we can disable them by name...  This will be very helpful on the GUI side.
Also maybe we should be passing in the Command_Prefix so if we or th

[2019-04-17 16:18] AngeloGiacco commented on #110
agree but command_prefix is tricky because some symbols like "/" are reserved for IRC commands

[2019-04-17 17:58] Abdur-rahmaanJ commented on #110
@AngeloGiacco actually after you get msgs, / in messages matters not
@GlennToms open two issues for those points
@0x15F9 issue resolved since long

[2019-04-17 17:58] #110 closed

[2019-04-18 07:04] Abdur-rahmaanJ commented on #116
@AngeloGiacco kick is not implemented by /Kick you have to use send_raw to implement the protocol from scratch

[2019-04-18 07:11] AngeloGiacco commented on #116
@Abdur-rahmaanJ have tried that as well

[2019-04-18 08:54] AngeloGiacco commented on #116
@Abdur-rahmaanJ @GlennToms

When using send_raw the kick message does not appear in the chat. However the terminal does raise an error in the terminal with send_raw.

![Screenshot 2019-04-18 at 9 52 24](https://user-images.githubusercontent.com/29235343/56349064-baac1b80-61bf-11e9-96cc-1a188e7ff3cd.png)

It is the same for "/kick" "/KICK" and "/Kick"

[2019-04-18 10:19] GlennToms commented on #116
Don't use the '/'
RAW would be `KICK #CHANNEL_NAME NAME`

[2019-04-18 14:22] AngeloGiacco commented on #116
Is there a way to check that the bot is channel operator so that i can give an error message in case the bot does not have authority to issue KICK command?

[2019-04-18 14:31] GlennToms commented on #116
You'll get back the error ERR_CHANOPRIVSNEEDED.  I don't think there is a way to query privileges...
[RFC is here ](https://tools.ietf.org/html/rfc1459#section-4.5.1) but I can't see anything and I can't remember is ever used it in my last bot.

[2019-04-18 14:34] AngeloGiacco commented on #116
Okay I'll leave it as is. I've made the russian_roulette plugin code now, will leave the plugin so that somebody can make it as a first contribution.

[2019-04-18 20:58] marceloyb commented on #3
how is this issue? anyone did anything? can i take this?

[2019-04-18 21:14] AngeloGiacco commented on #3
I believe this is the .joins plugin which has already been developed. Correct @Abdur-rahmaanJ?

[2019-04-19 22:48] #108 closed

[2019-04-20 02:28] Abdur-rahmaanJ commented on #3
@AngeloGiacco no. pm means private message. if user offline, next time user comes online, sends him a pm with the message

[2019-04-20 22:47] AngeloGiacco opened #124 "Convert Plugin NoneType previous_sibling bug"
**Describe the bug**
Convert plugin produces the following error: 'NoneType' object has no attribute 'previous_sibling'. I believe this has something to do with beautiful soup but I am not sure. I suspect this because previous_sibling is not from my own code.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup honeybot
2. Convert two currencies '.convert HUF EUR'
3. Wait, error is hit and

[2019-04-21 11:59] Abdur-rahmaanJ commented on #41
@vetragor see discord link in readme

[2019-04-21 13:24] Abdur-rahmaanJ opened #125 "uptime plugin"
.uptime

returns the time the bot has been running

[2019-04-21 14:15] AngeloGiacco opened #126 "add poker plugin"
.poker should create a poker game and send a pm to each player online telling them their hand.
Then it shows a deck in the main channel and will ask players if they want to fold, raise call etc.

[2019-04-21 18:15] ispite commented on #125
Hello, I would like to contribute to your project, but I'm new

[2019-04-21 18:17] Abdur-rahmaanJ commented on #125
hey no worry, read the README, brwose plugins directory and join the discord server, we'll help you!

[2019-04-21 18:19] Abdur-rahmaanJ commented on #125
@ispite

[2019-04-21 21:04] #109 closed

[2019-04-21 21:05] #85 closed

[2019-04-22 02:36] iamnishant14 commented on #126
@AngeloGiacco @Abdur-rahmaanJ : Picking this up.
Just a quick start: We need to build a poker chatroom?

[2019-04-22 02:49] marceloyb commented on #3
i'll take this then.. @Abdur-rahmaanJ the idea is to msg user if the bot keeps online all the time between the user becomes online again?

[2019-04-22 04:28] Abdur-rahmaanJ commented on #3
yes

[2019-04-22 04:29] Abdur-rahmaanJ commented on #126
see the hangman plugin, same idea

[2019-04-22 08:18] AngeloGiacco commented on #126
@iamnishant14 it doesnt need to be a poker chatroom but you could add a new channel to the autojoin list if you wanted. I have implemented this in another project so if you need some help let me know.

[2019-04-24 18:10] AngeloGiacco opened #130 "Monopoly GUI"
It seems that the monopoly plugin is working well but, unlike the hangman plugin and the possible poker plugin, having it just text based obviously doesnt work so great. A monopoly GUI would be great if anyone has the time and energy. Not sure whether it would fit into the honeybot GUI or be a separate window.

[2019-04-25 07:52] AngeloGiacco commented on #26
Done in PR #129

[2019-04-25 07:52] #26 closed

[2019-04-26 23:34] Macr0Nerd commented on #130
@Abdur-rahmaanJ I think we should consider whether this is a viable feature, considering the people playing may not actually have it installed but may be accessing it on another server

[2019-04-26 23:41] Macr0Nerd commented on #38
@Abdur-rahmaanJ I'm closing this as we've satiated the requirement.txt

[2019-04-26 23:41] #38 closed

[2019-04-26 23:42] #8 closed

[2019-04-27 15:37] #130 closed

[2019-04-30 06:40] Abdur-rahmaanJ opened #133 "jcommand plugin works not"
.join <channel-name> works not

[2019-04-30 06:41] Abdur-rahmaanJ commented on #6
no interest, closing ...

[2019-04-30 06:41] #6 closed

[2019-04-30 06:42] Abdur-rahmaanJ opened #134 "add search pydocs plugin"

[2019-04-30 06:45] Abdur-rahmaanJ opened #135 "add message to friend plugin"
uses persistent memory feature of bot

.tell <username> message

to get messages sent to you

.tell fetch

let's deal one message at a time

in storage

...

since memory is key value, find suitable format for storage

[2019-04-30 08:08] vysor commented on #16
Done, just created file and made a PR.

[2019-04-30 10:22] AngeloGiacco commented on #133
@Abdur-rahmaanJ

It works for me. The join command will make the bot join a channel not your user.

[2019-04-30 10:23] Abdur-rahmaanJ commented on #133
works not for me humm

[2019-04-30 10:24] AngeloGiacco commented on #133
does terminal say anything?

[2019-04-30 16:09] AngeloGiacco commented on #126
@iamnishant14 Are you working on this? I am happy to do it when I have some time if not. Give me a shout if you need some help

[2019-05-01 00:03] Macr0Nerd opened #137 "Bot time out"
**Describe the bug**
The bot times out typically between 240-265 seconds. This is ~4 minutes, and the first ping (for freenode) is ~2 minutes.

**To Reproduce**
Steps to reproduce the behavior:
1. Start bot
2. Don't talk to the bot at all or chat at all
3. Wait until bot times out

**Expected behavior**
The bot stays active and responds to pings without error.

**Desktop (please complete the follo

[2019-05-01 02:25] #137 closed

[2019-05-01 02:25] #16 closed

[2019-05-01 09:41] #133 closed

[2019-05-01 10:11] Abdur-rahmaanJ opened #139 "add friends to bot_info"
add friends [here](https://github.com/Abdur-rahmaanJ/honeybot/blob/master/honeybot/main.py#L96)

[2019-05-03 20:14] aholdeman commented on #15
Hey! I'm interested in beginning to contribute to this project, and feel like this would be a good issue to help me figure out what's going on! Would it be alright if I worked on this?

[2019-05-03 20:15] Macr0Nerd commented on #15
As long as you read the README and follow our guides, it’s all yours! Feel free to join us on Discors if you have questions.

[2019-05-06 20:02] nickw409 commented on #125
Added uptime plugin

[2019-05-07 05:40] #139 closed

[2019-05-07 05:40] #125 closed

[2019-05-07 05:45] Abdur-rahmaanJ opened #145 "add roman numeral converter"
command ```.roman 10```

returns ```X```

first-timers only

[2019-05-08 01:11] #145 closed

[2019-05-08 02:04] me-lad commented on #134
Hi,
I am a newcomer here, would you please explain to which document you want search pydocs to be added?

[2019-05-08 02:53] Abdur-rahmaanJ commented on #134
browse the plugins folder, we want a plugin that searches the python docs. the user types .pydocs lambda and it returns some relevent links

[2019-05-08 21:27] nickw409 commented on #135
So you want the bot to be able to send and receive messages?

[2019-05-08 22:17] me-lad commented on #134
I can certainly work on this. Shall I open a PR?

[2019-05-09 01:10] Abdur-rahmaanJ commented on #134
ok

[2019-05-09 03:45] Abdur-rahmaanJ commented on #135
@nickw409 that's already imemented. this one is using the memory api

[2019-05-09 17:25] AngeloGiacco commented on #126
@iamnishant14 I'm going to start working on this, let me know if you need some more time and then I'll stop

[2019-05-10 05:06] Abdur-rahmaanJ opened #149 "add a personality match plugin"
```.match john adam```

return example

```good match but beware```

try ways to make it more intelligent, rather than relying on pure randomness

take your time but make something cool, as always, if you need help, join us on discord!

[2019-05-14 18:04] mboekhold opened #153 "Add travisCI"
It would be a good idea to include TravisCI or CircleCI to automate some testing when a PR is issued. for example: Someone issues a new plugin PR, travis checks if the new plugin matches the structure defined in the readme.

[2019-05-18 20:13] dannomayer commented on #149
Hi @Abdur-rahmaanJ I am interested in contributing. Where should I go from here?

[2019-05-19 03:46] Abdur-rahmaanJ commented on #149
@dannomayer see the greet plugin or any other for example and join our discord server for questions. see link in README

[2019-05-19 19:14] Abdur-rahmaanJ opened #155 "Add lol/abbreviation decoder plugin"
.def lol

returns

lots of love

[2019-05-19 19:16] Abdur-rahmaanJ opened #156 "Add special command"
in settings define a file for bot info like name special command (.) etc

update plugins to use special command + command

special command + roll

instead of

 .roll

[2019-05-20 04:09] chibitofu commented on #155
Hi I'd like to take this issue.

[2019-05-20 04:19] Abdur-rahmaanJ commented on #155
@chibitofu any question, join our discord server!

[2019-05-20 06:01] chibitofu commented on #155
I think this can be closed. It's resolved by https://github.com/Abdur-rahmaanJ/honeybot/pull/157

[2019-05-20 09:22] AngeloGiacco commented on #155
shouldn't the solution be more like a web scraping tool to find the definition, i think the current solution is a little clunky and not scalable

[2019-05-20 10:16] Abdur-rahmaanJ commented on #155
@AngeloGiacco That's for another new comer issue

[2019-05-20 10:16] #155 closed

[2019-05-20 10:26] AngeloGiacco opened #158 "expand .def to use Urban dictionary"
.def should return the meaning of a phrase from urban dictionary. I suggest you use bs4 and requests to scrape the website.

[2019-05-24 05:06] duttasourav000 commented on #158
Hi @AngeloGiacco , I am a newcomer and would like to contribute. Can I work on this issue? Where do I start?

[2019-05-24 05:49] Abdur-rahmaanJ commented on #158
@duttasourav000

- join our discord server
- see the plugin [here](https://github.com/Abdur-rahmaanJ/honeybot/blob/master/honeybot/plugins/abbreviation.py) modify it
- scrape some website to get all definition or just use a dictionary

[2019-05-24 05:50] Abdur-rahmaanJ opened #159 "complete setup.py"
setup.py nearly empty. complete it.

[2019-05-24 06:13] Dizzerin commented on #159
Hi, I'm new to this and would like to make my first contribution to an open source project.  What does this issue entail?  What is setup.py supposed to do here or where can I find this out?  Thanks so much!

[2019-05-24 06:15] Abdur-rahmaanJ commented on #159
@Dizzerin see the setup.py file. search how a setup.py file should be. fill in accordingly. join our discord server for questions!

[2019-05-24 13:52] duttasourav000 commented on #158
Thanks! I'll work on it and send a PR.

[2019-05-25 07:21] PoseidonSigmaX commented on #159
@Abdur-rahmaanJ I'm in a similar position to @Dizzerin . Where can I find an invite to your Discord server?

[2019-05-25 07:23] Abdur-rahmaanJ commented on #159
@PoseidonSigmaX see Readme under Discord section

[2019-05-25 07:25] PoseidonSigmaX commented on #159
Cool, found it, thanks!

[2019-05-26 11:42] Abdur-rahmaanJ opened #160 "add thread support"
sometimes tasks can take sometimes to finish. we need to implement a thread api

[2019-05-27 10:33] AngeloGiacco opened #161 "News Plugin output fix"
**Describe the bug**
the output of the news plugin is a little off:

![Screenshot 2019-05-27 at 11 30 53](https://user-images.githubusercontent.com/29235343/58414338-fcf43280-8072-11e9-941b-a560d2fb541f.png)

**To Reproduce**
enter .news in the ##bottestingmu IRC channel

**Expected behavior**
clearly the first and last letter is being chopped off. The first and last characters used to be spaces s

[2019-05-27 10:44] AngeloGiacco commented on #161
I have tested a fix on my local machine and committed directly to the master

[2019-05-27 10:44] #161 closed

[2019-05-28 09:47] #158 closed

[2019-05-28 23:00] AngeloGiacco opened #164 "change blackjack to keep cards hidden"
the blackjack plugin i have developed in #163 shows the cards each player has.

code should be changed to private message each player their cards.

[2019-06-03 17:02] #159 closed

[2019-06-04 11:49] wupewu commented on #153
Can I work on this?

[2019-06-04 12:01] Abdur-rahmaanJ commented on #153
@wupewu sure!

[2019-06-04 12:46] wupewu opened #168 "Move workshop outside main repo"
Moving all GUI clients outside main repo will make more sense and it will be easier to automate builds.

[2019-06-04 12:50] SlavWolf opened #169 "Dockerize using TravisCI pipelines"
**Is your feature request related to a problem? Please describe.**
It will be easier to deploy bot on own server without falling into dependency hell.

**Describe the solution you'd like**
Automatic builds with deploying Docker images to DockerHub

**Describe alternatives you've considered**
Docker images are much simpler than for example using venv

[2019-06-05 18:22] AngeloGiacco opened #170 "[BUG] Import Error because of path"
**Describe the bug**
when a user runs the main.py without having cd'ed into the honeybot directory using

`
python honeybot/main.py
`
the imports for poker/blackjack and monopoly will cause errors as the path will not be configured correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. execute main.py using code above
2. try monopoly or blackjack plugin

Not good at using paths so help a

[2019-06-13 07:35] Abdur-rahmaanJ commented on #170
@AngeloGiacco is the monopoly plugin not ok? it worked before ^^_

[2019-07-01 06:48] WillBurnham commented on #41
Hi, I created a solution that will randomly generate a password like:
1dr1nkund3racomputer
Sh3g03st0th3b3d
h3g03sinastore
h3runs@l0ng@c@r
etc.
It essentially uses lists to form sentences and then a hash table to change normal characters to 1337 speak. I programmed it to only 1337 speak half of the password on occasion to help with predictability. If this issue is still open and this sounds like it

[2019-07-01 09:37] Abdur-rahmaanJ commented on #41
@WillBurnham yes just it's here https://github.com/pyhoneybot/pyhoneybot

[2019-07-19 23:33] lOne9wOlf commented on #149
is this still open?

[2019-07-19 23:47] nickw409 commented on #149
@lOne9wOlf This is the old repo, the new repo is here https://github.com/pyhoneybot/honeybot

[2019-10-11 15:21] EinKaiser commented on #134
Hi, can I work on this?

[2019-10-30 10:48] sirivemury commented on #32
Hi, is this issue still open? I would like to work on it if its still open.

Thank you!

[2019-10-30 17:30] Macr0Nerd commented on #32
This project is deprecated. Please use the new link in the readme

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-09 14:39] edenpsilva commented on #170
Is this topic open yet?

[2020-02-09 17:20] Abdur-rahmaanJ commented on #170
still open

[2020-02-27 08:40] devarshigoswami commented on #88
hello there! If this isn't handled, can I work on it?

[2020-06-02 13:37] swathi-krishna23 commented on #15
is this issue open?

[2020-06-02 13:39] AngeloGiacco commented on #15
yep, can i assign you to it?

[2020-06-02 13:41] swathi-krishna23 commented on #15
i am beginner in python and can you brief me about the issue. i would really like to contribute

[2020-06-02 13:47] AngeloGiacco commented on #15
https://www.python.org/dev/peps/pep-0257/

docstrings are used for documentation

dw about being a beginner i am too

I think this issue is quite long and honestly boring as you're just commenting not adding anything new. Have you managed to setup the bot yet? If you have might i suggest making a plugin if you are new to the project?

[2020-06-02 13:58] swathi-krishna23 commented on #15
ok thnx, so how can i begin with making a pulgin. Is there something i can go through to learn this. any tutorials or video

[2020-06-02 14:00] AngeloGiacco commented on #15
FYI we have moved this project

please visit https://github.com/pyhoneybot/honeybot

[2020-06-02 14:03] AngeloGiacco commented on #15
see here for the tutorial to make a plugin https://pyhoneybot.github.io/honeybot/How_Tos/plugins.html

[2020-06-02 14:05] swathi-krishna23 commented on #15
Thnx Will go through it

On Tue, 2 Jun 2020 at 7:33 PM, Angelo Giacco <notifications@github.com>
wrote:

[2021-01-10 03:11] pratheekcr commented on #134
Hi, I am new to open source and this issue would be a great way to start. Is this still open? Let me know, please.

[2021-01-10 03:12] pratheekcr commented on #88
Hi, I am new to open source and this issue would be a great way to start. Is this still open? Let me know, please.

[2021-01-10 03:14] pratheekcr commented on #15
Hi, I am new to open source and this issue would be a great way to start. Is this still open? Let me know, please.

[2021-01-10 03:14] Macr0Nerd commented on #88
@pratheekcr This repo is our old repo. Please refer to github.com/pyhoneybot/honeybot which is the new repo

[2021-01-10 04:40] Abdur-rahmaanJ commented on #134
@pratheekcr yes! Feel free!

[2021-01-10 04:40] Abdur-rahmaanJ commented on #15
@pratheekcr the project moved to github.com/pyhoneybot/honeybot!